@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/ToDoTable.css" />
<link rel="stylesheet" href="~/css/AgencyTables.css" />
<link rel="stylesheet" href="~/css/Boxes.css" />
<link rel="stylesheet" href="~/css/ColorsAndAppearance.css" />

<h2>Home Office Dashboard</h2>

<div class="container-fluid">
	<div class="row">
		<!-- ./col -->
		<div class="col-lg-3 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h3>@Model.UnfilledShifts</h3>
					<p>Unfilled Openings</p>
				</div>
				<div class="icon">
					@if (Model.UnfilledShifts > 0)
					{<ion-icon name="warning"></ion-icon>}
					else
					{<ion-icon name="heart"></ion-icon>}
				</div>
				<a asp-page="/ScheduleManagement/Scheduling" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-yellow">
				<div class="inner">
					@*<h3>@Model.ActiveProjects<sup style="font-size: 20px">%</sup></h3>*@
					<h3>@Model.UrgentNotifications</h3>
					<p>High Priority Notifications</p>
				</div>
				<div class="icon">
					@if (Model.UnfilledShifts > 0)
					{<ion-icon name="warning"></ion-icon>}
					else
					{<ion-icon name="heart"></ion-icon>}
				</div>
				<a asp-page="/MessageManagement/Notification/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h3>@Model.ActiveProjects</h3>
					<p>Pending Client Actions</p>
				</div>
				<div class="icon">
					@if (Model.UnfilledShifts > 0)
					{<ion-icon name="warning"></ion-icon>}
					else
					{<ion-icon name="heart"></ion-icon>}
				</div>
				<a asp-page="/ClientManagement/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-12">
			<!-- small box -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>@Model.ActiveProjects</h3>
					<p>Pending Shift Employee Actions</p>
				</div>
				<div class="icon">
					@if (Model.UnfilledShifts > 0)
					{<ion-icon name="warning"></ion-icon>}
					else
					{<ion-icon name="heart"></ion-icon>}
				</div>
				<a asp-page="/ShiftEmployeeManagement/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<div>
				<label for="schedule">Unfilled Openings At A Glance</label>
				<ejs-schedule id="schedule" width="100%" height="500px" selectedDate="@DateTime.Now" currentView="Agenda" hideEmptyAgendaDays="false" agendaDaysCount="30">
					<e-schedule-eventsettings dataSource="@Model.Assignments"></e-schedule-eventsettings>
					@*<e-schedule-views>
				<e-view option="Agenda" allowVirtualScrolling="true"></e-view>
			</e-schedule-views>*@
				</ejs-schedule>
			</div>
		</div>
	</div>
</div>
